.Rproj.user
.Rhistory
.RData
.Ruserdata
*.dbf

*.mxd

*.ini

*.Rproj

*.sbn

*.pdf
*.shp
*.sbx
*.shx
*.cpg
*.prj
*.cst
data/Shapefiles/

*.zip

*.lyr

*.xml

*.png

*.html

*.log

/occ
/results/Crassiclitellata
/results/SDMs

*.grd

*.hdr

*.gri

*.bil

*.db
/Trash

*.RData

*.out

*.eval

*.prediction

*.data

*.lines

*.options

*.evaluation
*_Full_ANN
*_Full_CTA
*_Full_FDA

*_Full_GBM
*_Full_GLM
*_Full_MARS
*_Full_RF

*.predictions

*.xlsx

*.mdmp

*.jar

*.tif

/data/GBIF_*

*.RData

/results/ModelEvaluation_*
results/EnvPredictor_2km_df_normalized.csv
results/Occurrence_rasterized_2km_Crassiclitellata.csv
results/Occurrences_Crassiclitellata.csv
results/Occurrence_rasterized_plusEnv_2km_Crassiclitellata.csv
