.Rproj.user
.Rhistory
.RData
*.RData
.Ruserdata
*.dbf
*.mxd
*.ini
*.Rproj
*.sbn
*.pdf
*.shp
*.sbx
*.shx
*.cpg
*.prj
*.cst
*.zip
*.lyr
*.xml
*.png
*.html
*.log
*.grd
*.gri
*.hdr
*.bil
*.db
*.xlsx
*.mdmp
*.jar
*.tif

*.out
*.eval
*.prediction
*.predictions
*.data
*.lines
*.options
*.evaluation
*_Full_ANN
*_Full_CTA
*_Full_FDA
*_Full_GBM
*_Full_GLM
*_Full_MARS
*_Full_RF

/Trash
data_raw/GBIF_Crassiclitellata
data_raw/WDPA_WDOECM_Dec2021_Public_EU_shp
data_raw/Faktencheck*
data_raw/worm_spd_europe_jerome.csv

/doc/Species_list_Crassiclitellata_Europe_MariaBriones.csv

/figures

intermediates/BIOMOD_data
intermediates/Earthworm_occurrences_GBIF-sWorm-Edapho-SoilReCon-JM.csv
intermediates/Occurrences_Crassiclitellata.csv

results/_FutureEnvironment
results/_SDMs
results/_Maps
results/_Sensitivity
results/_Sensitivity_2/_SensAna_data
results/_Sensitivity_2/_SensAna_output
results/_Sensitivity_2/_SensAna_sdm
results/_TopPredictor
results/Crassiclitellata
results/maxent_files

results/Faktencheck*

results/Occurrence_rasterized_1km_Crassiclitellata.csv
results/Occurrence_rasterized_2km_Crassiclitellata.csv
results/Occurrence_rasterized_2km_BIOMOD_Crassiclitellata.csv
results/Occurrence_rasterized_5km_Crassiclitellata.csv
results/Occurrences_Crassiclitellata.csv
results/Occurrence_rasterized_plusEnv_2km_Crassiclitellata.csv
results/Species_list_Crassiclitellata_Europe_forMaria.csv
